/*
Authors: Lim Hui Ching, Elton Teo, Go Ruo Yan, Nicole Wong
Date: 1 April 2024
Summary: AddPost.css: Defines the styles for the add post page, including the textarea and input fields.
*/
.card {
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card .description textarea {
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px gray;
    background: #f4f3f9;
    display: grid;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-top: 20px;
    padding: 10px;
}

.inputs input {
    width: 100%;
    padding: 10px;
}
