.board {
    width: 70%;
    height: 30%;
    align-items: flex-start;
    margin: auto;
}

.boardhalfed {
    width: 50%;
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 100%);
    justify-items: center;
}

.dashboard {
    width: 70%;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

.dashpost {
    border: 1px solid black;
    height: 700px;
    width: 90%;
    border-radius: 40px;
    box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    padding: 15px;
    gap: 20px;
    margin: 5px;
    margin-bottom: 30px;
}
.post {
    border: 1px solid black;
    height: 500px;
    width: 85%;
    border-radius: 40px;
    box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    padding: 15px;
    gap: 20px;
    margin: 20px;
}
.dashpost .captionDiv {
    height: 60px;
    padding-left: 15px; 
}
.post .captionDiv {
    height: 30px;
    padding-left: 15px; 
}
.dashpost .captionDiv .caption {
    font-size: 50px;
}
.post .captionDiv .caption {
    font-size: 25px;
}
.dashpost .descriptionDiv {
    padding: 15px;
    height: 300px;
    overflow-y: auto;
}
.post .descriptionDiv {
    padding: 15px;
    height: 150px;
    overflow-y: auto;
}
.dashpost .descriptionDiv .description {
    font-size: 35px;
}
.post .descriptionDiv .description {
    font-size: 17px;
}
.postNo {
    border: 1px solid black;
    width: 30%;
    margin: 100px auto;
    border-radius: 40px;
    box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 2px 10px 5px 0px rgba(0, 0, 0, 0.52);
    padding: 15px;
    gap: 20px;
}

.dashpost h3 {
    font-size: 25px;
    padding: 15px;
}
.post h3 {
    font-size: 25px;
    padding: 15px;
}

.post .postImg {
    width: 95%;
    background-color: blue;
    margin: auto;
    height: 70%;

}

.post img {
    width: 95%;
    height: 65%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.postNo img {
    width: 95%;
    height: 75%;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.belowness {
    width: 98%;
    height: 50px;
    margin: 2px auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.belowness2 {
    width: 98%;
    height: 50px;
    margin: 2px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.belowness2 p
{
    margin-top:30px;
}


.search-box {
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: background 0.25s;
    margin:auto;
    margin-bottom: 30px;
    width: 70%;
}
.search-box:focus-within
{
    background: #f1f1f1;
    box-shadow: 0 0 2px rgba(0,0,0,0.75);
}
.search-input {
    font-size: 17px;
    color: #333333;
    margin-left: 14px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.search-input::placeholder
 {
    color:rgba(0, 0, 0, 0.5);
    width: 100%;
}