









.container {
    width: 30%;
    height: 610px;
    border: 1px solid black;
    /* box-shadow: 5px 5px grey; */
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin:auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #284A8E;
    padding:5px;
}

.wrapper
{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin:50px auto;
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-color: #284A8E;
    padding:30px;
}

h1{
    text-align: center;
    color:white;
    font-size: 50px;
}

img
{
    width:40%;
    height:10%;
    display:block;
    margin:20px auto;

}

.imge
{
    /* display: flex;
    align-items: center; */
    text-align: center;
}
.imge #userIcon
{
    width:50%;
    height:40%;
}


.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

.input-box
{
    
    width:80%;
    height:45px;
    display:flex;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    padding:3px;
}

.input-box input
{
    border:none;
    width:80%;
    height:35px;
    margin:3px;
    background-color: transparent;
    font-size:15px;
}

button
{
    display: block;
    margin:20px auto ;
    width: 150px;
    height: 59px;
    color: #fff;
    background: #191970;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    border:none;
    box-shadow: 8px 10px 16px -3px rgba(0,0,0,0.75);

}

button:hover
{
    background-color: #000080;
}

button:active
{
    background-color: #000080;
    box-shadow: 6px 8px 3px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(1px);

}


.register-link
{
    text-align: center;
}
a
{
    color:white;
    text-decoration: none;
    /* text-align: center; */
    display: block;
    margin:auto;

}

.inputsLeft
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputsLeft .input-box
{
    width:160%;
}
#moreDiv
{
    display:flex;
    justify-content: space-between;
}
#inputRight
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float:right;
}

#inputRight button
{
    margin-left:10px;
}




