

* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}





.container {
    width: 60%;
    height: 500px;
    border: 1px solid black;
    /* box-shadow: 5px 5px grey; */
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin:auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #284A8E;
    padding:20px;
}


img
{
    width:50%;
    height:30%;
    display:block;
    margin:20px auto;

}

.imge
{
    /* display: flex;
    align-items: center; */
    text-align: center;
}
.imge #userIcon
{
    width:50%;
    height:40%;
}


.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    ;
}

.input-box
{
    
    width:70%;
    height:45px;
    display:flex;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    padding:3px;
}

.input-box input
{
    border:none;
    width:70%;
    height:35px;
    margin:3px;
    background-color: transparent;
    font-size:15px;
}

button
{
    display: block;
    margin:20px auto ;
    width: 150px;
    height: 59px;
    color: #fff;
    background: #191970;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    border:none;
    box-shadow: 8px 10px 16px -3px rgba(0,0,0,0.75);

}

button:hover
{
    background-color: #000080;
}

button:active
{
    background-color: #000080;
    box-shadow: 6px 8px 3px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(1px);

}


.register-link
{
    text-align: center;
}
a
{
    color:white;
    text-decoration: none;
    /* text-align: center; */
    display: block;
    margin:auto;

}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap')