.card {
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card .description textarea {
    height: 300px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px gray;
    background: #f4f3f9;
    display: grid;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin-top: 20px;
    padding: 10px;
}

.inputs input {
    width: 100%;
    padding: 10px;
}
